saves
.vscode
crash-reports
local
logs
xaero
emi.json
icon.png
options.txt
rhino.local.properties
usercache.json
*.gita
usernamecache.json
大胃王模拟器.jar
大胃王模拟器.json
/config
log4j2.xml
/natives-windows-x86_64
/.obsidian
.abnormal
/XaeroWaypoints_BACKUP240807
mods/.index
*ModernUI*
